.children__finder {
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .children__finder input {
    padding-right: 30px;
    margin-left: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .children__finder:after {
    content: url(/assets/icons/search.png);
    position: absolute;
    right: 5px;
    top: 5px; }
  .children__finder_list {
    right: 15px;
    top: 33px; }
.children__add {
  margin-bottom: 70px;
  position: relative;
  width: 100%; }
  .children__add_title {
    margin-bottom: 10px;
    display: block; }
  .children__add_schedule {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .children__add_schedule .fio {
      margin-left: -1px;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .children__add_schedule .weekdays {
      width: 135px; }
    .children__add_schedule .time {
      margin-left: -1px;
      width: 105px; }
    .children__add_schedule .multyCheckbox {
      margin-right: 5px;
      color: white; }
    .children__add_schedule .add, .children__add_schedule .remove {
      border: 1px solid #E0E0E0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      background: white;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 24px;
      right: -30px;
      width: 24px;
      top: 5px; }
      .children__add_schedule .add:hover, .children__add_schedule .remove:hover {
        background: #ededed; }
      .children__add_schedule .add:active, .children__add_schedule .remove:active {
        background: #E0E0E0; }
    .children__add_schedule .add:after {
      content: url(/assets/icons/add.png); }
    .children__add_schedule .remove:after {
      content: url(/assets/icons/trash.png); }
    .children__add_schedule_teachers {
      top: 33px;
      right: 0; }
  .children__add_form {
    grid-template-columns: 130px auto;
    grid-gap: 10px;
    display: grid; }
    .children__add_form > span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .children__add_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .children__add_buttons button {
      margin-left: 10px; }

input {
  border: 1px solid #E0E0E0;
  padding: 3px;
  height: 34px; }

select.custom-select {
  border-color: #E0E0E0;
  border-radius: 0;
  height: 34px;
  padding: 3px; }

.dropdown_list {
  border: 1px solid #E0E0E0;
  position: absolute;
  display: none;
  padding: 0;
  z-index: 1; }
  .dropdown_list li {
    border-bottom: 1px solid #E0E0E0;
    background: white;
    list-style: none;
    cursor: pointer;
    padding: 5px; }
    .dropdown_list li:last-child {
      border: none; }
    .dropdown_list li:hover {
      background: #ededed; }
    .dropdown_list li:active {
      background: #E0E0E0; }

/*# sourceMappingURL=style.css.map */