<header class="header">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/"><span>Главная</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/children/">Дети</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedule/">Расписание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers/">Учителя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/prices/">Цены</a>
            </li>
        </ul>
        <span class="admin">Администратор: <span class="fio"></span></span>
        <a class="logout" href="/login/" style="margin-left: 10px">
            <img alt="Выход" src="/assets/icons/logout.png">
        </a>
    </div>
</header>
